.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


:root{
    --font-size:0.925rem;
    --font-400 : 400;
    --font-700: 700;
    --color-primary: hsl(25, 97%, 53%);
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-grey:hsl(217, 12%, 63%);
    --neutral-dblue:hsl(213, 19%, 18%);
    --neutral-vdblue:hsl(216, 12%, 8%);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Overpass',sans-serif;
    height: 100vh;
}
.hide{
    display: none;
}
.container{
    height: 100vh;
    background-color: var(--neutral-vdblue);
}
.card-container{
   max-width: 20rem;
   padding: 2rem;
   background-color: var(--neutral-dblue);
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flex-layout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container a{
    text-decoration: none;
    color: var(--neutral-grey);
    width: 3rem;
    height: 3rem;
    font-size: var(--font-size);
    font-weight: var(--font-700);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    background-color: hsl(212, 26%, 14%);
}
button{
    width: 100%;
    padding: 0.6rem;
    color: var(--neutral-dblue);
    font-weight: var(--font-700);
    font-size: var(--font-size);
    background-color: var(--color-primary);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Overpass',sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
h2{
    color: var(--neutral-white);
    font-weight: var(--font-400);
}
p{
    color: var(--neutral-grey);
    font-size: var(--font-size);
}
img{
    padding: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    background-color: hsl(212, 26%, 14%);
}


.card-thanks img{
    width: 10rem;
    background-color: transparent;
}
.card-thanks h2{
    margin-bottom: 0;
}
.card-thanks p{
    font-size: var(--font-size);
    font-weight: var(--font-400);
}
#index-rating{
    color: var(--color-primary);
    font-size: var(--font-size);
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: hsl(212, 26%, 14%);
}
#thanks-card{
    text-align: center;
}
#thanks-card img{
    background-color: transparent;
}